body {
	background-image: url("image/background.png ");
}

.avatar {
	border-radius: 150px;
}

h1 {
	font-family: 'Pacifico', cursive;
	margin: 10px 0 8px 0;
}

p {
	font-family: system-ui;

}
h3 {

	color: orangered ;
	font-size: 20px;
}

p1 {
		color: brown;
		font-size: 20px ;
}
button {
	margin-bottom: 20px;
	background-color: lightpink;
	border: 15px;
	width: 300px;
	padding: 15px 0 15px 0;
	border-radius: 100px;
	font-family: 'Gemunu Libre', sans-serif;
	font-size: 15px;
	transition-duration: 0.3s;
	transition-property: color, background-color;

}

.button:hover {
	color: white;
	background-color: black;
}


		.feature-icon
		{
			display: inline-block;
			position: relative;
			padding-bottom: 2em;
			margin-bottom: 0.75em;
			cursor: default;
		}
		
			.feature-icon .fa
			{
				display: inline-block;
				width: 2em;
				height: 2em;
				font-size: 2.5em;
				border-radius: 50%;
				box-shadow: inset 1 1 0 1px #777;
				color: #777;
				line-height: 2.1em;
			}
		
			.feature-icon:before
			{
				content: '';
				background: #777;
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -0.325em;
				width: 0.65em;
				height: 0.65em;
				display: block;
				border-radius: 100%;
			}

			.feature-icon:after
			{
				content: '';
				position: absolute;
				left: 50%;
				bottom: 0.65em;
				width: 1px;
				height: 4.35em;
				background: #666;
				margin-left: -0.5px;
			}
